:root {


	--primary: #1e1e1e;
	--secondary:#D5B895;
	--tertiary: #A67A5B;
	--background: #FAFDF3;

/*
--primary: #FAFDF3;
--secondary:#A67A5B;
--tertiary: #D5B895;
--background: #1e1e1e;
*/

}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Kulim Park', sans-serif;
	color:var(--primary);
}

body {
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

main {
	max-width: 37.5em;
	padding: 1em;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:hover {
	text-decoration:underline;
	color: var(--tertiary);
	font-weight: 400;
}

a[href]:not(:hover) { 
	text-decoration: underline;
	font-weight: 400;
	color:var(--primary);
}

img {
	max-width: 100%;
	height: auto;
}

header{
	display: flex;
	background-color: var(--secondary);
	justify-content: center;
	align-items: center;
	padding: 1em;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color:var(--tertiary);
	padding: 1em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	display: flex;
	justify-content:center;
	align-items: center;
	gap: 28px;
	padding: 0;
	list-style: none;
	
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--secondary);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--tertiary);
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	font-size: 48px;
}

.logo_image{
	width: 48px;
	height: 48px;
}

.recipe_summary{
	color:var(--tertiary);
}

.featured_recipes{
	margin-top: 2em;
	color: #A67A5B;
}

.featured_recipes_header{
	font-size: 2em;
	font-weight: 600;
}

.individual_recipe_image{
	display: flex;
	align-items: center;
	justify-content: center;
	width:16em;
	height: 9em;
	overflow:hidden;
}

.individual_recipe{
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 2em;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em;
}


@media only screen and (min-width: 700px) {
	.nav{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		
	}
}

@media screen and (min-width: 700px) {
	.nav{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap:48px;
	}

	
}