:root {
	--primary: black;
	--secondary:black;
	--tertiary: black;
	--background: black;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Kulim Park', sans-serif;
	color:var(--primary);
}

body {
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

main {
	max-width: 37.5em;
	padding: 1em;
	margin-top: 4em;
	margin-bottom: 2em;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:hover {
	text-decoration:underline;
	color: var(--tertiary);
	font-weight: 400;
}

a[href]:not(:hover) { 
	text-decoration: underline;
	font-weight: 400;
	color:var(--primary);
}

img {
	max-width: 100%;
	height: auto;
}

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--secondary);
	text-align: center;
	padding: 0em 1em;
}

footer{
	width: 100%;
	text-align: center;
	color:var(--primary);
    background-color: var(--secondary);
    padding-top: 1em;
    padding-bottom: 1em;
    position:bottom;
    bottom:0;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul{
	display: flex;
	justify-content:center;
	align-items: center;
	gap: 1em;
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li{
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--secondary);
	
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--tertiary);
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  	vertical-align: text-top;
  	text-transform: uppercase;
	letter-spacing: .1em;
  	font-size: .625em;
  	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
 	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  	border-radius: .25em;
  	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	font-size: 48px;
}

.logo_image{
	width: 48px;
	height: 48px;
}

.recipe_summary{
	color:var(--tertiary);
}

.featured_recipes{
	margin-top: 2em;
	color: var(--tertiary);
}
.recipe_date_time{
	color:var(--secondary);
}

.featured_recipes_header{
	font-size: 2em;
	font-weight: 600;
}

.individual_recipe_image{
	display: flex;
	align-items: center;
	justify-content: center;
	width:16em;
	height: 9em;
	overflow:hidden;
}

.individual_recipe{
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 2em;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

.visually-hidden{
	clip:rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.color_theme_picker > fieldset{
	display: flex;
	border: 0;
	gap:1em;
	width: fit-content;
	border-radius:0 0 0.25em 0.25em;
	align-items: center;
	margin-inline: auto;
	background-color:white;
	padding: 0.5em;
	padding-bottom: 0;
}

.color_theme_picker input[type="radio"]{
	appearance: none;
	width: 0.75em;
	height: 0.75em;
	outline: 4px solid var(--radio-color,currentColor);
	outline-offset: 1px;
	border-color: white;
	border-radius: 50%;
	padding: 0;
}

.color_theme_picker input[type="radio"]:checked{
	background-color: var(--radio-color);
}

.color_theme_picker input[type="radio"]#light_peach{
	--radio-color: #FFBF9B;
}

.color_theme_picker input[type="radio"]#light_pink{
	--radio-color: #D14D72;
}

.color_theme_picker input[type="radio"]#dark_chocolate{
	--radio-color: #594545;
}

.color_theme_picker input[type="radio"]#dark_purple{
	--radio-color: #4d3966;
}

:root:has(#light_peach:checked){
	/* Light Mode - Peach (Default) */
	--primary: #9c3713;
	--secondary:#FFBF9B;
	--tertiary: #B46060;
	--background: #FFF4E0;
}

:root:has(#light_pink:checked){
	/* Light Mode - Pink  */
	--primary: #D14D72;
	--secondary:#FCC8D1;
	--tertiary: #fd5454df;
	--background: #FEF2F4;
}

:root:has(#dark_chocolate:checked){
	/* Dark Mode - Chocolate */
	--primary: #FFFBEB;
	--secondary:#594545;
	--tertiary: #FAAB78;
	--background: #362222;
}

:root:has(#dark_purple:checked){
	/* Dark Mode - Purple */
	--primary: #FFECEF;
	--secondary:#4d3966;
	--tertiary: #FFCACA;
	--background: #251B37;
}



@media screen and (min-width:730px) { /* Desktop */
	:root {
		font-size: 1.1rem;
	}

	.nav{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap:48px;
		margin: 1em;
	}

	.content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5em;
	}

}

@media only screen and (max-width: 730px)  { /* Mobile */
	.content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 9em;
	}

}