<form action="" class="color_theme_picker">
  <fieldset>
    <legend class="visually-hidden">Website Theme</legend>
    
    <label for="light_peach" class="visually-hidden">
      Peach
    </label>
    <input type="radio" id="light_peach" name="theme" checked="checked">

    <label for="light_pink" class="visually-hidden">
      Pink
    </label>
    <input type="radio" id="light_pink" name="theme">

    <label for="dark_chocolate" class="visually-hidden">
      Chocolate
    </label>
    <input type="radio" id="dark_chocolate" name="theme">

    <label for="dark_purple" class="visually-hidden">
      Purple
    </label>
    <input type="radio" id="dark_purple" name="theme">
  
  </fieldset>
</form>