<form action="" class="color_theme_picker">
      <fieldset>
        <legend class="visually-hidden" >Website Theme</legend>
        <label for="theme" name="theme" class="visually-hidden"> Peach </label>
        <input type="radio" 
          id="light_peach"
          name ="theme"
          checked>
        
        <label for="theme" name="theme" class="visually-hidden"> Pink </label>
        <input type="radio" 
          id="light_pink"
          name ="theme"
        >
        
        <label for="theme" name="theme" class="visually-hidden"> Chocolate </label>
        <input type="radio" 
          id="dark_chocolate"
          name ="theme"
        >
        
        <label for="theme" name="theme" class="visually-hidden"> Purple </label>
        <input type="radio" 
          id="dark_purple"
          name ="theme"
        >
      </fieldset>
    </form>